// Primary color for the header background or highlights
$primary-color: #4c51af;
::ng-deep .mat-toolbar {
  position: sticky; /* Makes the header stick to the top */
  top: 0;
  z-index: 1000; /* Ensures it stays above other elements */
  background-color: $primary-color !important;
  color: white !important; /* White text for contrast */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  mat-icon {
    color: white !important;
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2); /* Slight zoom effect on hover */
    }
  }

  span {
    color: white !important;
    font-family: "Tagesschrift", system-ui;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}
